.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}
.wd-modules {
  margin: 5px;
}
.wd-modules > li {
  background-color: #f3f3f3;
  border: 1px solid #c0c6ca !important;
  border-left: none !important;
}
.wd-modules > li > div {
  padding: 20px 0px;
  border-left: 1px solid gray !important;
}
.wd-modules > li > ul > li {
  padding: 15px 0px;
  border-top: 1px solid #c0c6ca !important;
  border-left: 4px solid #4b7b51;
}
.wd-modules > li {
  margin-bottom: 20px;
}
.wd-modules-icon {
  margin-right: 15px;
  margin-left: 10px;
}

.wd-modules-heading {
  font-size: 1.2em;
  font-weight: bold;
  color: #28343c;
}

.wd-modules-text {
  color: #4b5359;
  font-size: 0.85em;
}

.wd-modules-heading a {
  color: #28343c;
  text-decoration: none;
}

.wd-modules button {
  background-color: transparent;
}

.wd-dani-modules-status-btn-col {
  width: 260px;
  flex: 0 0 240px;
}

.wd-dani-modules-module-heading {
  font-size: 1.2em;
  font-weight: bold;
  color: #28343c;
}

.wd-dani-modules-icon-btn {
  cursor: pointer;
}
