html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #28343c;
}
body * {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --navigation-width: 20px;
  --main-content-margin-top: 20px;
  --main-content-padding-right: 20px;
}

#kanbas > .main-content {
  padding-left: var(--navigation-width);
  margin-top: var(--main-content-margin-top);
  padding-right: var(--main-content-padding-right);
}

.wd-dani-breadcrumb-item {
  font-size: 18px;
  color: #28343c;
  text-decoration: none;
}

.wd-dani-breadcrumb-item a {
  font-size: 18px;
  color: #a32424;
  text-decoration: none;
}

.wd-dani-breadcrumb-item .active a::before {
  content: ">";
  padding-right: 0 5px;
}

.wd-dani-breadcrumb-item + .wd-dani-breadcrumb-item::before {
  float: none;
  content: ">";
}

.wd-dani-btn {
  background-color: #e8e8e8;
  color: #28343c;
  border: 1px solid #c0c6ca;
  /* padding: 5px 20px; */
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
}

.wd-dani-btn-red {
  background-color: #a32424;
  color: #ffffff;
  border: 1px solid #c0c6ca;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
}

p#published {
  color: #4b7b51;
}

.wd-dani-course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjusts the space between cards */
  justify-content: center; /* Center cards in the row */
}

.wd-dani-course-card {
  width: 300px;
}

.wd-dani-color-red {
  color: #a32424;
}
